
* { 
        box-sizing: border-box;
}

:root {
    --color-button : #126646 ; 
    --color-border: #1BB45D;
    --color-navbar: #1F5A50;
    --nav-font: Marcellus ;
    --font-main: DM Sans ;
}

nav > ul {
    padding: 0;
    margin-right: 1rem;
    list-style: none;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  
  nav > ul > li {
    display: inline-block;
  }
  
  nav > ul > li > a {
    padding: 0.25rem;
    text-decoration: none;
    color: #fff;
  }

.logo {
    width : 10rem;
}
 body {
    margin: 0;

 }

* {
  /* background-color: #f1e6d8; */
  box-sizing: border-box;
}

:root {
  --color-button: #126646;
  --color-border: #1bb45d;
  --color-navbar: #1f5a50;
  --nav-font: Marcellus;
  --font-main: DM Sans;
}



nav {
  height: 5rem;
  background-color: #1f5a50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 4rem;
  margin-left: 1rem;
}

header div ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1rem;
    display : none

}

.burger-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 1rem;
  color : #fff;
  margin-right: 1rem;

}

#menu {
  display: none;
}

#burger {
  background-image: url(menu-burger.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #1f5a50; 
}

#menuToggle {
  display: none;
  list-style: none; 
}

#accueilNav{
  display: none;
}


.accueilButton,.catalogueButton,.contactButton{
  background-color: #f1e6d8;
 padding: 0.0rem 4rem;
  border-radius: 15px;
  color: var(--color-navbar);
  font-size: 0.5rem;
  
  font-weight: bold;
  width: 3rem;
}


body {
  box-sizing: border-box;
  background-color: #f1e6d8;
  margin: 0;
}

main { 
  margin-top : 8rem; 
  margin-bottom: 6rem;
}

.main-page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-button);
  margin-top: 3rem;
}

.logo-main {
  width: 20rem;

} 
main h2 {
  font-size: 1.5rem;
   margin-top: 3rem;
  margin-bottom: 2rem;
}

main button {
  background-color: #127646;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: white;
  margin-top: 1rem;
  
}

footer {
  text-align: center;
  margin-top: 15rem;
}


.logo-rs {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

.sectionPage2 {

  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap : 1rem;

}

.card-img {
  background-size: cover;
  background-position: center;
  background-image: url("");
  width: 100%;
  height: 13rem;
}
.card {
  border-radius: 10px ;
  border : 1px solid #1bb45d;
  
  display: block;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 20rem;
}

.card-body {
  padding: 10px 20px;
}
.card-body h2 {
  margin: 10px 0px;
}
.card-button {
  border-radius: 10px;
  height: 50px;
  gap : 10rem;  width: 100%;
}

.TextRevez{
  text-align: center;
  max-width: 30ch;
}

.sectionPage3{
  
  flex-direction: column;
  align-items: center;
  gap : 2rem
}




.img-contact {
  background-size: cover;
  background-position: center;
  background-image: url("");

  width: 250px;
  height: 13rem;
}

.card-contact {
  border-radius: 10px ;
  border : 1px solid #1bb45d;


  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 20rem;
}
.body-contact {
  padding: 10px 20px;
}



@media screen and (min-width : 992px){

  .burger-menu{
 font-size: 1.2rem;
 margin-right: 3.5rem;
}

main {
    margin-top : 5rem ;
    margin-bottom: 3rem;

  }
.logo-main { 
  width: 35rem;;
}

main h2 {
    font-size: 2.5rem;
  }

.sectionPage2,.card{
 flex-direction: row;;
 justify-content : center;
 gap : 3rem;
 
  }

footer{
  margin-top: 10rem;
}

}
